.noBooks {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 100px;
}

.noBooks p:nth-of-type(2) {
  font-size: 1rem;
}

@media screen and (max-width: 950px) {
  .title {
    text-align: center;
  }
}